*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

footer{
  background: linear-gradient(90deg, #04153a, #3a0b1a);
  color: #fff;
}

.footer-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  padding: 60px 80px;
}

.footer-box .logo{
  width: 120px;
  margin-bottom: 20px;
}

.footer-box h3{
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-box p, .footer-box a{
  font-size: 14px;
  color: #ddd;
  margin-bottom: 6px;
  text-decoration: none;
}

.footer-box a:hover{
  color: #ffbd59;
}

.footer-box ul{
  list-style: none;
}

.footer-box ul li{
  margin-bottom: 8px;
}

.footer-box ul li a:hover{
  color: #ffbd59;
}

.newsletter{
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: transparent;
  border-bottom: 1px solid #aaa;
}

.newsletter input{
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

.newsletter button{
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.social-icons{
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons a{
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.3s ease;
}

.social-icons a:hover{
  background: #fff;
  color: #000;
}

/* bottom bar */
.footer-bottom{
  background: #ff0000;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
}
